
.menu-item {
  font-size: 60px;
  font-family: "Formula Regular";
  padding: 40px 40px 15px 40px;
  user-select: none;
  cursor: pointer;
  position: relative;
  transition: color 200ms ease;
}
.menu-item-wrapper {
  outline: none;
  margin-bottom: 20px;
}
.menu-item.active {
  color: #CF2933;
}
.menu-item.active:after {
  width: 50%;
}

.menu-item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left:50%;
  transform:translate(-50%);
  width:0%;
  height: 3px;
  background: #CF2933;
  transition: all 200ms ease;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.arrow img {
  width: 25px;
}

/*
.arrow-prev {
  !*background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9458158263305322) 61%);*!
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,0) 48%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 100%);
}*/
