
  .BtnHome-container {
    background-color: #000000;
    border: none;
    position: relative;
    padding: 22px 75px 22px 22px;
    cursor: pointer;
    margin-top: 200px;

    &:hover {
      background-color: #CF2933;
      transition: 350ms all ease;
    }

    &_text {
      color: #FFFFFF;
      font-size: 1.5rem;
    }

    &_arrow {
      margin-left: 22px;
    }
  }
