div {
  .container-button {
    /*width: 20%;*/
    box-shadow: 1px 1px 8px black;
    position: absolute;
    bottom: 0;
    &_arrow {
      background-color: #FFFFFF;
      border: none;
      margin: 0;
      padding: 15px;
      outline: none;
      cursor: pointer;
    }
  }
}