/* CSS GENERAL */
section {
    width: 100%;
    height: auto;
    .inner {
        display: flex;
        h2.title {
            font-size: 43px;
            &:after {
                content: "";
                background: #CF2933;
                height: 5px;
                width: 85px;
                display:inline-block;
                margin-left: 5px;
            }
        }
        h3.sub-title {
            font-size: 16px;
            text-transform: uppercase;
        }
    }


    &.introDataVize{
        min-width: 100vw;
        display: flex;
        max-height: 780px;
        .presentation{
            min-width: 40%;
            .logo{
                width: 215,44px;
                height: 29,94px;
                display: block;
                margin: auto;
                padding: 10% 0  20% 0;
            }
            .bloc{
                display: block;
                margin: auto;
                width: 230px;
                .title{
                    font-size: 48px;
                    padding: 0 0 5% 0;
                    .spantitle{
                        font-size: 68px;

                    }
                }
                .explorePlus{
                    font-size: 20px;
                }
                .explore{
                    display: flex;
                    padding: 30% 0 5% 0;
                    justify-content: space-between;
                    max-width: 230px;
                    .exploreTitle{
                        font-size: 24px;
                    }
                    .exploreGo{
                        width: 56px;
                    }
                }
            }
        }
        .galeries{
            max-width: 60%;
            .galery{
                width: 100%;
                min-height: 780px;
            }
        }
    }

    /* SECTION 2 / DATAVIZ */
    &.section2 {
        background: url('../images/f1-h-section2-bg.jpg') no-repeat, center;
        -webkit-background-size: cover;
        background-size: cover;
        .container-dataviz {
            width: 80%;
            margin: 112px auto 112px;
            position: relative;
            &_line {
                position: absolute;
                top: 20%;
                left: 50%;
            }
            &_block {
                display: flex;
                flex-direction: row-reverse;
                margin-top: 188px;
                position: relative;
                &--01,
                &--03 {
                    flex-direction: initial;
                }
                &--01 {
                    margin-top: 0;
                }
            }
            &_btn {
                bottom: 100px;
                &--first {
                    position: absolute;
                    right: 0;
                }
                &--second {
                    position: absolute;
                    left: 0;
                }
                &--third {
                    position: absolute;
                    right: 0;
                }
            }
        }
        .slogan{
            margin: 0 auto;
            width: 100%;
            text-align: center;
            font-size: 24px;
            //padding: 0% 0px 27px 0;
        }
    }

    /* SECTION 3 / ECURIES */
    &.section3 {
        background-color: #F6F6F6;
        position: relative;
        .inner {
            .container-first {
                width:calc(40% - 80px);
                img {
                    margin: 4% 0 4% 8%;
                }
            }
            .container-second {
                width: 60%;
                text-align: left;
                margin-top: 80px;
                p {
                    font-size: 1rem;
                    background-color: #FFFFFF;
                    padding: 32px;
                    line-height: 26px;
                    margin-top: 38px;
                }
                &_description {
                    display:inline-block;
                    position: relative;
                    z-index: 2;
                    width: 60%;
                    line-height: 1.2;
                }
            }
            img.ecurie {
                position: absolute;
                right: 0;
                bottom: -75px;
            }
        }
    }

    &.section4 {
        background: url('../images/f1-h-section4-bg.jpg') no-repeat, center;
        background-size: cover;
        padding: 4% 0;

        .inner {
            flex-direction: column;
            .container-title {
                width: 70%;
                margin: 0 auto;
            }
            .container-pilots {
                position: relative;
                width: 80%;
                margin: 0 auto;
                &_description {
                    width: 31%;
                    position: absolute;
                    left: 21%;
                    top: 15%;
                    line-height: 1.2;
                    h2 {
                        font-size: 15px;
                    }
                    span {
                        font-size: 13px;
                        color: #979EA6;
                    }
                }
                &_text {
                    font-size: 24px;
                    margin-top: 33px;
                }
                &_bg {
                    transform: translateX(21%);
                    width: 90%;
                    img {
                        /*margin: 0 4%;*/
                        margin-right: 4%;
                        margin-left: 0;
                    }
                }
                &_btn {
                    position: absolute;
                    top: 20%;
                    right: 15%;
                }
            }
        }
    }
}
    .def {
        height: 300px;
        background-image: url("../images/background.png");
        color: white;

        .par {
        margin: 0 auto;
        width: 65%;
        text-align: center;
        .text{
        padding: 0% 0px 27px 0;
        font-size: 17px;
        }
    }
}






