.dataPilotContainer {
    position: relative;
    width: 40%;
    min-width: 680px;
    min-height: 100%;
    overflow: hidden;
}
.dataPilotContainer-header-flex {
    display:flex;
    position: relative;
    z-index: 999;
    width:100%;
    margin-top: 40px;
    color:#CF2933;
    height: 90px;
    padding-bottom: 20px;
}


.dataPilotContainer-header-item {
    display: flex;
    width: 50%;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.dataPilotContainer-header-item:after {
    content:'';
    width: 72px;
    height: 2px;
    background: #CF2933;
    position:absolute;
    left:0;
    bottom: -14px;
}

.dataPilotContainer-header-item h3 {
    font-family: "Formula Bold";
    width:205px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.dataPilotContainer-header-item img {
    width: auto;
    max-height: 70px;
}
.dataPilotContainer-background {
    position:absolute;
    z-index:0;
    width:auto;
    left: -10%;
    top: 5%;
}

.dataPilotContainer-background img {
    width: auto;
}

.dataListContainer {
    width: calc(100% - 48px);
    margin-left: 48px;
}

.dataPilotContainer-data-flex {
    margin-top: 32px;
    position: relative;
    z-index: 999;
    width: 100%;
    display:flex;
}

.dataPilotContainer-data {
    width: 50%;
}

.dataPilotContainer-ecurieTitle {
    font-family:'Formula Regular';
    margin-bottom: 48px;
}
.dataPilotContainer-ecurieTitle span {
    font-family:'Formula Bold';
}